html {
	font: 300 1.1em 'Open Sans', sans-serif; 
}
body{max-width:1280px;
	margin:0 auto;
}
header {background:#660000;}
nav {background:#660000;padding:.5% 1% .5% 1%;}
nav h1 {font-size:1.5em; padding-bottom:.5%;}
nav li {display:inline-block;margin-right:1%;}
nav ul ul  {
	display: none;
}
input,select {margin:0% 0% 1% 0%;}
input,button,select,textarea {
	font-size:0.8em;
	font-weight:400;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #660000), color-stop(1, #660000) );
	background:-moz-linear-gradient( center top, #660000 5%, #660000 100% );
	color:#FFFFFF;
}

select option {border: 1px solid #000; background: #010;}
input:hover,button:hover,select:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #770000), color-stop(1, #880000) );
	background:-moz-linear-gradient( center top, #770000 5%, #880000 100% );
	color:#FFFFFF;
}
a {color:#AA4400;}
nav a {
	text-decoration:none; 
	color:#ffffff;
	background:#660000;
	font-weight:400;
	padding:1px 3px 0px 3px;
}
nav ul li a:hover {
	background:#FFFFFF;
	color:#660000;
	border-radius:5px 5px 0 0;
}
nav ul li .dropdown {display:block;}
nav ul li ul a {
	display:block; 
	background:#FFFFFF;
	color:#660000;
}
nav ul li ul a:hover {display:block; background:#E8E8E8;color:#660000;}
nav ul li:hover > ul, nav ul li:focus > ul {
		display: block;
		position:absolute;
		z-index:999;
		background:#FFFFFF;
        padding:.3em;
        border:1px solid gray;
	}
nav ul li:hover > ul li, nav ul li:focus > ul li { display: block; }
nav ul li ul li:hover {background:#E8E8E8;}
nav form {float:right;}
section {
	background:#FFFFFF;
	width:63%;
	display:inline-block;
}

section,aside,footer{padding:1%;float:left;}
article{
	background:#FFFFFF;
	line-height:1.3em;
}
aside{background:#FFFFFF;width:30%;display:inline-block;}
footer{font-size:0.8em;display:block;clear:both;}
#copyright {padding:5px;}
#copyright img {
	width:100px;
	height:100px;
}
article header p{font-size:0.8em;}
article header {margin-bottom:1%;background:#E8E8E8;}
article header h2, aside h2 {font-weight:400;}

.all {width:97%;}
.highlight { background-color:yellow;}
.subtext { font-size: 0.7em; color:#333333;}
.code-box {font: 0.7em 'Source Code Pro', sans-serif; color:blue; font-weight:400; margin:1%;}
.spaced-box { border:1px solid #b8b8b8; background-color:#e8e8e8; font-size:1em; color:#505050; border-radius:15px; padding:2%;margin:2% 2% 2% 2%;}
.spaced-box h1 {font-size: 1.4em;text-transform:uppercase;}
.textbox { border:1px solid #b8b8b8; background-color:#e8e8e8; font-size:1em; color:#505050; border-radius:15px; padding:1%;margin:0% 0% 1% 0%; }
.blurb-box { border:1px solid #b8b8b8; background-color:#e8e8e8; font-size:1em; color:#505050; border-radius:15px; padding:3%;margin:0% 0% 3% 0%;}
.message{ border:1px solid #b8b8b8; background-color:#e8e8e8; font-size: 0.8em;color:#505050; border-radius:15px; padding:2%; }
.statistics{ border:1px solid #b8b8b8; background-color:#e8e8e8; font-size: 1em; color:#000000; border-radius:15px; padding:2%; }
.hide {display:none;}
p {margin-top:.5em;}
li { list-style-type:disc;list-style-position:inside;}
h1,h2,h3,h4,h5,h6 strong,b { font-weight:400;}
i { font-style:italic;}

.default {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	font-size: 0.9em;
}
.default table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.default tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.default table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.default table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}
.default tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}
.default tr:hover td{
	
}
.default tr:nth-child(odd){ background-color:#E8E8E8; }
.default tr:nth-child(even)    { background-color:#ffffff; }
.default td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-weight:normal;
	color:#000000;
}
.default tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.default tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.default tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.default tr:first-child td{
	background-color:#660000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-weight:400;
	color:#ffffff;
}
.default tr:first-child:hover td{
	background-color:#660000;
}
.default tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.default tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

@media screen and (max-width:800px) and (min-width:641px) {
	body {font-size: 0.9em;}
	section {width:40%;display:inline-block;}
	aside{width:49%;float:right;display:inline-block;}
}


@media screen and (max-width:640px) {
	body {font-size: 0.8em;}
	section, aside {
		display:block;
		width:auto;
	}
	article, aside {
		margin-top:1em;
		width:97%;
	}
	nav li {display:inline-block;}
	nav ul li:hover > ul {display:block;width:100%;}
	nav form {display:block;float:right;}
	nav input {display:block;}
	button {display:block;}
	nav h1 {display:none;}
	nav ul li { margin-bottom:10px;}
}

