# Can ignore specific files
.DS_Store
php_errorlog
.sass-cache
.well-known

# Use wildcards as well
*~
*.sql
*.log

includes/export.*
php.ini
.ftpquota

# Can also ignore all directories and files in a directory.
variables/variables.php
tmp/**/* 

/vendor/
